<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <h1> Please enter your data here: </h1>
    <form action='/' method=post enctype=multipart/form-data>
      <input name=trainFile type=file>
      <input type=submit value="Upload and train">
    </form>

    <!--form action="/train/" method=get">
      <button name="trainBtn" type="submit"> Click here to train </button>
    </form-->
  </body>
</html>
